*{
  margin: 0;
  padding: 0;
  font-family: 'Merriweather', serif;
}
/* style header section  */
.nav-container{
  width: 1100px;
  margin: 45px auto;
  display: flex;
  justify-content: space-between;
}
 .nav-bar ul{
  display: flex;
}
.nav-bar li{
  list-style: none;
  padding-right: 30px;
}
.nav-bar a{
  text-decoration: none;
color: #424247;
font-size: 18px;
font-style: normal;
font-weight: 400;
}
.home-menu, .travel-text{
  color:#FF5400;
}
.menu-title-img{
  display: flex;
  gap: 10px;
}
.wonderful-travel{
  color: #131318;
font-size: 36px;
font-style: normal;
font-weight: 900;
line-height: normal;
}

.header-bg-container{
  margin: 20px auto;
  width: 1100px;
  height: 500px;
  background-image: url(./Images/Group\ 13\ \(1\)\ \(1\).png);
  size: 100%;
  border-radius: 1rem;
  background-repeat: no-repeat;
  text-align: center;

}

.explore-your-travel{
  padding-top:100px ;
color: #d36060;
font-size: 3.3rem;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.header-img-description{ 
  width: 650px;
  padding:24px 210px;
  color:#fff;
text-align: center;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; 
}

.header-input-area{
  display: inline-flex;
  padding: 16px;
  align-items: flex-start;
  gap: 24px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.30);

}

.header-input{
width: 174px;
height: 52px;
flex-shrink: 0;
border-radius: 8px;
background: #FFF;
text-align: center;
border: none;
}
.header-btn-find-now{
  background-color:#FF5400 ;
}

.section-one{
  display: flex;
  width: 1100px;
  margin: 100px auto;
  gap: 30px;
}
.section1-text-container h1{
  color: #131318;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}
.section1-text-container p, .section2-text p,{
  padding: 20px 0;
  color: rgba(19, 19, 24, 0.70);
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px;
}

/* section two style  */
.section-two{
  width: 1160px;
  margin:50px auto ;
}
.section2-text{
  margin: 50px auto 30px;
  width: 600px;
}
.section2-text h1{
padding-left: 20px;
color: #131318;
font-size: 40px;
font-style: normal;
font-weight: 900;
line-height: normal;
}
  

.row{
  display: flex;
  gap: 20px;
  
}
 .row h3{
  position: relative;
  color: #fff;
  top: 160px;
  left: 170px;
  font-size: 1.8rem;
  font-weight: 700;
} 
  .row .kashmir{
  position: relative;
  top:160px ;
  left: 100px;
}
.row .bandarban{
  left: 270px;
} 

/* style section three  */
 .section-three{
  width: 1100px;
  margin: 50px auto;
  border: 1px solid tomato;

}
.why-choose h2{
  color: #131318;
  text-align: center;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.light-grey{
  color: rgba(19, 19, 24, 0.70);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}

.why-choose p{
  width: 600px;
  text-align: center;
  padding: 20px 250px;
}
.hotel-world{
  display: flex;
  
}
.world{
  border-radius: 16px;
border: 1px solid rgba(41, 206, 246, 0.20);

background: rgba(41, 206, 246, 0.05);
padding: 10px 20px;


}
.hotel{
  border-radius: 16px;
  border: 1px solid rgba(251, 181, 99, 0.20);

  background: rgba(251, 181, 99, 0.05);
  padding: 10px 20px;
}
.hotel-world h3{
  padding:30px 0px ;
}
.price-guarantee{
  width: 600px;
  margin:40px 250px ;
  border-radius: 16px;
  border: 1px solid rgba(233, 68, 68, 0.20);
  background: rgba(233, 68, 68, 0.05);
  padding: 10px 20px;

}
.price-guarantee h3, .hotel-world h3{
  color: #131318;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
 
}
.price-guarantee h3{
  padding: 30px 0px;
}

/* style last section  */
.last-section{
  width:1100px;
  margin: 60px auto;
  display: flex;
  gap: 20px;
} 
.newsletter{
  border: 1px solid #FF5400;
  border-radius: 16px;
  height: 420px;
}
.newsletter h2{
  color: #131318;
font-size: 24px;
font-style: normal;
font-weight: 800;
line-height: normal;
padding-top: 10px;
}
.newsletter div{
  padding-left:36px ;
}
.newsletter p{
  padding: 40px 0px ;
}
.input-last-section{
  display: block;
  margin-bottom: 30px;
  width: 300px;
  height: 50px;
  border-radius: 8px;
background: rgba(19, 19, 24, 0.05);
border: none;
padding-left: 20px;

}

.btn-primary{
  width: 300px;
  background-color: #FF5400;
  color: white;
  padding: 15px 20px;
  border: 0px;
  border-radius: 5px;
  font-size: 22px;

}
.btn-primary:hover{
  cursor: pointer;
}
.save-up{
  background-color: #FF5400;
  width: 300px;
  height: 110px;
  transform: rotate(-19.628deg);
flex-shrink: 0;
border-radius: 16px;
position: relative;
left: 367px;
bottom: 155px;
color: #FFF;
text-align: center;

}
.save-up p{
  padding-top: 20px;
text-align: center;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.save-up h3{
  color: #FFF;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}









