*{
  margin: 0;
  padding: 0;
  font-family: 'Merriweather', serif;
}

/* style header section  */
.nav-container{
  width: 1170px;
  margin: 45px auto;
  display: flex;
  justify-content: space-between;
}
 .nav-bar ul{
  display: flex;
}
.nav-bar li{
  list-style: none;
  padding-right: 30px;
}
.nav-bar a{
  text-decoration: none;
color: #424247;
font-size: 18px;
font-style: normal;
font-weight: 400;
}
.menu-bar{
  width: 25px;
  display: none;
}
.home-menu, .travel-text{
  color:#FF5400;
}
.menu-title-img{
  display: flex;
  gap: 10px;
}
.wonderful-travel{
  color: #131318;
font-size: 36px;
font-style: normal;
font-weight: 900;
line-height: normal;
}

.header-bg-container{
  margin: 20px auto;
  width: 1100px;
  height: 500px;
  background-image: url(./Images/Group\ 13\ \(1\)\ \(1\).png);
  size: 100%;
  border-radius: 1rem;
  background-repeat: no-repeat;
  text-align: center;

}

.explore-your-travel{
  position: relative;
  padding-top:80px ;
color: #fff;
font-size: 3.3rem;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.gradient{
  background-image: linear-gradient(to bottom, 
rgba(0,0,0,0.8),
rgba(0,0,0,0));
}


.header-img-description{ 
  width: 650px;
  padding:24px 210px;
  color:#fff;
text-align: center;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; 

}

.header-input-area{
  margin-top: 30px;
  display: inline-flex;
  padding: 16px;
  align-items: flex-start;
  gap: 24px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.30);

}

.header-input{
width: 174px;
height: 52px;
flex-shrink: 0;
border-radius: 8px;
background: #FFF;
text-align: center;
border: none;
}
.header-btn-find-now{
  color: #FFF;
  background-color:#FF5400 ;
text-align: center;
font-size: 20px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.header-btn-find-now:hover{
  cursor: pointer;
}
.drop-down-bar{
  position: relative;
  top: 18px;
  right:50px;
}

/* section one style  */

.section-one{
  display: flex;
  width: 1170px;
  margin: 100px auto;
  gap: 30px;
}
.section1-text-container h1{
  color: #131318;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}
.section1-text-container p,
 .section2-text p{
  padding: 20px 0;
  color: rgba(19, 19, 24, 0.70);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}

/* section two style  */
.section-two{
  width: 1170px;
  margin:50px auto ;
}
.section2-text{
  margin: 50px auto 30px;
  width: 600px;
}
.section2-text h1{
padding-left: 20px;
color: #131318;
font-size: 40px;
font-style: normal;
font-weight: 900;
line-height: normal;
}
  

.row{
  display: flex;
  gap: 20px;
  
}
 .row h3{
  position: relative;
  color: #fff;
  top: 160px;
  left: 170px;
  font-size: 1.8rem;
  font-weight: 700;
} 
  .row .kashmir{
  position: relative;
  top:160px ;
  left: 100px;
}
.row .bandarban{
  left: 270px;
} 

/* style section three  */
 .section-three{
  width: 1170px;
  margin: 50px auto;

}
.why-choose h2{
  color: #131318;
  text-align: center;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.light-grey{
  color: rgba(19, 19, 24, 0.70);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}

.why-choose p{
  width: 600px;
  text-align: center;
  padding: 20px 250px;
}
.hotel-world{
  display: flex;
  
}
.world{
  border-radius: 16px;
border: 1px solid rgba(41, 206, 246, 0.20);

background: rgba(41, 206, 246, 0.05);
padding: 10px 20px;


}
.hotel{
  border-radius: 16px;
  border: 1px solid rgba(251, 181, 99, 0.20);

  background: rgba(251, 181, 99, 0.05);
  padding: 10px 20px;
}
.hotel-world h3{
  padding:30px 0px ;
}
.price-guarantee{
  width: 600px;
  margin:40px 250px ;
  border-radius: 16px;
  border: 1px solid rgba(233, 68, 68, 0.20);
  background: rgba(233, 68, 68, 0.05);
  padding: 10px 20px;

}
.price-guarantee h3, .hotel-world h3{
  color: #131318;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
 
}
.price-guarantee h3{
  padding: 30px 0px;
}
 
/* section four style  */
.section-four{
  width: 1170px;
  height: 1700px;
  margin: 60px auto;
}
.deals-text{
  color: #131318;
text-align: center;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.deals-description{
  padding: 40px 25%;
}
.section4-bg1{
  background-image: url(./Images/Group\ 39.png);
   width:100%; 
   height: 500px;
}
.section4-bg1-contant{ 
  width: 579px;
  height: 389px;
  padding-left: 20px;
  padding-top: 20px;
flex-shrink: 0;
border-radius: 16px;
border: 2px solid #FFF;
background: rgba(255, 255, 255, 0.80);
backdrop-filter: blur(2.5px);
position: relative;
top: 80px;
left: 500px;
}
.section4-icon{
 display: flex;
 gap: 20px;
}
.satorini{ 
  padding-top: 30px;
  padding-bottom: 30px;
color: #131318;
font-size: 34px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.satorini-price{
  color: #FF5400;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
padding-top: 40px;
padding-bottom: 40px;
}
.section4-bg2{
  height: 390px;
  margin: 40px 0px;
  background-image: url(./Images/Group\ 40.png);
  size: 100%;
}
.bg2-contant-area{
  width: 579px;
  height: 340px;
  position: relative;
  top: 20px;
  left: 20px;
}
.bg2-contant-area .satorini-price{
  padding: 20px 0px;
}
.packages{
  margin: 30px 40%;
}

/* section five style  */

.section-five{
  width: 1170px;
  height: 420px;
  margin: 150px auto 100px;
  display: flex;
}
video{
  width: 585px;
  height:420px;
  border-radius: 20px;
}
.section5-text h2{
  color: #131318;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: 60px;
padding-bottom:25px;
}
.section5-text p{
  padding-bottom: 18px;
}
.section5-text button{
  margin-top: 30px;
}
.watch-mountain{
  position: relative;
  bottom: 210px;
  left: 100px;
  color: #FFF;
}

/* style last section  */
.last-section{
  width:1170px;
  margin: 60px auto;
  display: flex;
  gap: 20px;
  height: 420px;

} 
.newsletter{
  border: 1px solid #FF5400;
  border-radius: 16px;
  height: 420px;
}
.newsletter h2{
  color: #131318;
font-size: 24px;
font-style: normal;
font-weight: 800;
line-height: normal;
padding-top: 10px;
}
.newsletter div{
  padding-left:36px ;
}
.newsletter p{
  padding: 40px 0px ;
}
.input-last-section{
  display: block;
  margin-bottom: 30px;
  width: 300px;
  height: 50px;
  border-radius: 8px;
background: rgba(19, 19, 24, 0.05);
border: none;
padding-left: 20px;

}

.btn-primary{
  width: 300px;
  background-color: #FF5400;
  color: white;
  padding: 15px 20px;
  border: 0px;
  border-radius: 5px;
  font-size: 22px;

}
.btn-primary:hover{
  cursor: pointer;
}
.save-up{
  background-color: #FF5400;
  width: 300px;
  height: 110px;
  transform: rotate(-19.628deg);
flex-shrink: 0;
border-radius: 16px;
position: relative;
left: 367px;
bottom: 155px;
color: #FFF;
text-align: center;

}
.save-up p{
  padding-top: 20px;
text-align: center;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.save-up h3{
  color: #FFF;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

/* footer section style  */
.footer-section{
  text-align: center;
  background: rgba(19, 19, 24, 0.09);
  width: 1170px;
  margin: 50px auto;
  border-radius: 16px;

}
.footer-title{
  display: flex;
  gap: 50px;
  margin: 50px auto;
font-size: 32px;
font-style: normal;
font-weight: 900;
line-height: normal;
padding-left:25% ;
padding-top: 30px;
}

.footer-description{
  width: 50%;
  padding-left: 25%;
}
.footer-icon{
  display: flex;
  gap: 30px;
  padding: 60px 43%;

}
.all-right-reserved{
  padding: 40px;
  font-size: 0.8rem;
  font-weight: 300;
}
.footer-icon-size{
  width: 30px;
}
.footer-icon-size-face{
  width: 20px;
}





/* media Quary style  */



@media screen and (max-width:600px){
  .nav-container{
    flex-direction: column;
  }
  .hide{
    display: none;
  }
  .nav-bar{ 
   padding-top:50px;
   padding-left: 30px;
  
  }
  .menu-title-img{
    padding-left: 30px;
  }
  .header-bg-container{
    margin: 20px auto;
    width: 90%;
    height: 585px; 
  }
  .explore-your-travel{
    padding-top:20px ;
  font-size: 2rem;
  }
  .header-img-description{ 
    width:400px;
    padding:24px 20px;
  
  }
  .header-input-area{
    flex-direction: column;
  }
  .header-input{
  width: 274px;
  }
  .menu-bar{
    width: 25px;
    display: block;
    position: relative;
     left: 470px; 
    bottom: 90px;
  }
   .drop-down-bar{
    display: none;
  
  } 
  
  
  /* section one  */
  .section-one{
    flex-direction: column;
    width:90%;
    margin: 50px auto;
  
  }
  .section1-img img{
    width:90%;
    padding: 30px 40px;
  }
    /* section two   */

    .section-two{
      width: 90%;
      margin:50px auto ;
    }
    .section2-text{
      margin: 50px auto 30px;
      width: 80%;
    }
    .section2-text h1{
    padding-left: 30px;}

    .row-one{
      display: block;
      
    }
    .row-one img{
      width: 85%;
      padding-left: 30px;
    }

      .row .kashmir{
      position: relative;
      top:260px ;
      left: 150px;
    }
    .row .bandarban{
      left: 170px;
      top: 110px;
    }  


  
/* style section three  */
.section-three{
  width: 90%;
  margin: 50px auto;

}
.why-choose p{
  width: 80%;
  padding: 20px 50px;
}
.hotel-world{
  flex-direction: column;
  gap: 30px;
}

.price-guarantee{
  width: 90%;
  margin:40px auto ;
}


/* section four  */
.section-four{
  width: 90%;
}

.deals-description{
  padding: 40px 5%;
}
.section4-bg1{
   width:100%; 
   height: 450px;
}
.section4-bg1-contant{ 
  width: 359px;
  height: 370px;
top: 30px;
left: 100px;
}
.section4-icon{
 gap: 10px;
}
.satorini{ 
  padding-top: 10px;
  padding-bottom: 10px;
font-size: 30px;
}

.section4-bg2{
  width: 100%;
  height: 450px;

}
.bg2-contant-area{
  width: 369px;
  height: 340px;
  
}
.packages{
  margin: 30px 100px;
}

/* section five media quary  */

.section-five{
  flex-direction: column;
  width: 90%;
   height: 840px; 
  margin: 150px auto 100px;
  
}
video{
  width: 90%;
}




/* style last section  */
.last-section{
  width:90%;
  margin: 60px auto;
  flex-direction: column;
  height: 720px;

} 
.newsletter{
  border: 1px solid #FF5400;
  border-radius: 16px;
  padding-bottom: 10px;
}
.last-section img{
  width: 100%;
}
.save-up{
  position: relative;
  width: 250px;
  height: 90px;
left: 50%;
bottom: 128px;
}

/* footer section style  */
.footer-section{
  width: 90%;
  margin: 30px auto;
}
.footer-title{
  display: flex;
  gap: 30px;
  margin: 50px auto;
font-size: 25px;
padding-left: 20px;
padding-top: 40px;
}
.footer-icon{
  padding-left: 30%;
}


  }